BODY {
    background-image: url("images/bird.jpg");
    background-size: cover;
  }
  H1 {
    font-size:16pt;
  }
  H2 {
    /*font-size:20px;*/
    font-size:100%;
    font-weight: normal;
  }
  .quiz-types IMG {
    max-width:90%;
  }
  .content {
    background:#fff;
    padding:10px;
    box-sizing: border-box;
    border-radius:10px;
    #question, #intro P, #result P {
      border:1px #404040 solid;
      background:#e0e0e0;
      border-radius:3px;
      text-align:center;
      font-size:14pt;
      padding:15px;
    }
    BUTTON {
      display:block;
      margin:10px auto;
      font-size:14pt;
    }
    #answers {
      list-style:none;
      margin:0;
      padding:0;

      LI {
        border:1px #0000cc solid;
        padding:10px;
        margin:5px 0;
        font-size:16pt;
        text-align:center;
        background:lightblue;
        cursor: pointer;

        &:hover {
          background:#8888cc;
        }
      }
    }
  }

  #question, #answers, #result {
    display:none;
  }
